################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ZKJ_BlazorApp-main/.vs/BlazorApp/FileContentIndex
/ZKJ_BlazorApp-main/.vs/ProjectEvaluation
