@page "/forgotPassword"
@using System.ComponentModel.DataAnnotations
@inject IUserService UserService
@inject NavigationManager NavigationManager

<div class="col-md-6 offset-md-3 mt-5">
    <div class="card">
        <h4 class="card-header">Forgot Password</h4>
        <div class="card-body">
            <EditForm Model="@model" OnValidSubmit="HandleValidSubmit">
                <DataAnnotationsValidator />
                <div class="form-group">
                    <label>Email</label>
                    <InputText @bind-Value="model.Email" class="form-control" />
                    <ValidationMessage For="@(() => model.Email)" />
                </div>
                <button type="submit" class="btn btn-primary">Reset Password</button>
            </EditForm>
        </div>
    </div>
</div>

@code {
    private ForgotPasswordModel model = new ForgotPasswordModel();

    private async Task HandleValidSubmit()
    {
        await UserService.ResetPassword(model.Email);
        NavigationManager.NavigateTo("/login");
    }

    private class ForgotPasswordModel
    {
        [Required]
        [EmailAddress]
        public string Email { get; set; }
    }
}
