@inherits LayoutComponentBase
@inject IAuthenticationService AuthenticationService
@inject NavigationManager NavigationManager

<div class="container-fluid">
    <div class="row">
        <!-- Navbar -->
        <header class="col-md-12 navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Logo lub Inny Tekst</a>

            @if (AuthenticationService.User != null)
            {
                <div class="d-flex ml-auto">
                    <span class="navbar-text mr-2">Hello, @AuthenticationService.User!</span>
                    <a href="logout" class="btn btn-outline-light">Logout</a>
                </div>
            }
        </header>

        <!-- Dodatkowy kontener -->
        <div class="col-md-12 mt-3">
            <div class="d-flex justify-content-between align-items-center bg-light p-2">
                <!-- Koszyk -->
                <div class="mr-3">
                    <span>Koszyk: 0</span>
                </div>

                <!-- Wybór kategorii -->
                <nav class="navbar navbar-expand navbar-dark bg-dark">
                    <div class="navbar-nav">
                        <NavLink href="/" Match="NavLinkMatch.All" class="nav-item nav-link">Home</NavLink>
                        <NavLink href="users" class="nav-item nav-link">Users</NavLink>
                        <NavLink href="bookcases" class="nav-item nav-link">Book Cases</NavLink>
                        <NavLink href="Products" class="nav-item nav-link">Products</NavLink>
                        <NavLink href="Contractors" class="nav-item nav-link">Contractors</NavLink>
                        <NavLink href="Category" class="nav-item nav-link">Category</NavLink>
                        <NavLink href="Contacts" class="nav-item nav-link">Contacts</NavLink>
                        <NavLink href="counter" class="nav-item nav-link">Counter</NavLink>
                        <NavLink href="logout" class="nav-item nav-link">Logout</NavLink>
                        <NavLink href="cart" class="nav-item nav-link">Shopping Cart</NavLink> <!-- Update if needed -->
                    </div>
                </nav>
            </div>
        </div>

        <!-- Sidebar -->
        @if (AuthenticationService.User != null)
        {
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <NavLink href="/" Match="NavLinkMatch.All" class="nav-link">Home</NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="products" class="nav-link">Products</NavLink>
                        </li>
                        <!-- Dodaj inne linki, jeśli są potrzebne -->
                    </ul>
                </div>
            </nav>
        }

        <!-- Treść strony -->
        <main role="main" class="col-md-10 ml-sm-auto col-lg-12 px-4">
            @Body
        </main>
    </div>
</div>
